body
{
    display:flex;
    background-image: url('image.jpg') ;

}
.background
{
    position:absolute;
}

.content
{   background-color: white;
    display:flex;
    flex-direction: column;
    width:66.666vw;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    gap:20px;

}

.left
{   display:flex; 
    flex-direction: column;
    color:white;
    font-size: 100px;
    align-items: center;
    justify-content: center;
    height:100vh;
    width:33.33vw;
}



.form1
{
    display:flex;
    flex-direction: column;
    justify-content:center;
   
}

button[type="submit"]
{
    padding:24px;
    font-size: 24px;
    max-width: fit-content;
    align-self: center;
}

.temp
{
    display:flex;
    gap: 5px;
}

.fset
{
    display:flex;
    flex-wrap: wrap;
    width:800px;
    gap:20px;
}

input, label {
    display:block;
}

button[type="submit"]
{
    background-color: white;
    border-style: groove;
    margin-top:30px;
}

button[type="submit"]:hover
{
    background-color: black;
    color:white;
}